.container {
    background-color: white;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.img-thumbnail {
    float: left;
}



body, html {
        height: 100%;
        margin: 0;
    }
    /*background image for body*/
.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    position: relative;
    bottom: 20px;
    width: 180px;
    padding: 10px;
    margin-bottom: 0;
    /* font-weight: 50; */
    /* line-height: 30px; */
    color: #ffffff;
    text-align: center;
    background: black;
    border-bottom: 0;
    width: 400px;
  }


    body {
      background-image: url(../images/tumblr_o52d92zRCT1t1cy7no1_640.jpg);
      height: 100%;
      background-position: center;
      background-repeat: repeat;
      background-size: auto;
    }

/* footer specs */
.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 110%;
    text-align: center;
    height: 8%;
    border: #343a40;
}

.card-body {
    padding: 1.25rem;
    border: 2px solid black;
    margin-right: 30px;

}

.container {
    text-decoration: none;
    margin-bottom: 80px;
    margin-left: 80px;
  }

  img {
      width: 400px;
      height: 300px;
  }

  .row {
      margin-left: 90px;
  }